
/* --------- General CSS Rules for ALL WebPages ----------- */

html {
    background-color: #F0E9DF;
    font-family: Verdana, Tahoma, sans-serif;
}

/* centers entire webpage */
body {
    margin: 0 auto;
    vertical-align: center ;
    text-align:center;
}

img {
    margin-left:30px;
    margin-right: 20px;
    border: 3px solid;    
    display:inline-block;
}


/* Makes navigation tab list horizontal (and hides bullet points) */
nav > ul {
    list-style-type: none;    
    margin: 0;
    padding: 0;   
}

nav li {
    color:white;
    float:left;
}

nav a:hover {
    background-color: #ADA497;
    box-shadow: 0px 5px 5px 1px rgba(133, 123, 109, 50%);
    color:black;
}

nav a{
    padding: 10px 20px 17px;
    margin-top: 20px;
    line-height:50px;
    font-size:45px;
    font-family:'Times New Roman', Times, serif;
    text-decoration: none;
    text-align:left;
    color:white;
    background-color: #5e574a;
}

li#logo{
    padding: 50px, 200px, 50px;
    text-align: left;
    margin-right:150px;
    margin-left:30px;
}

nav {
    position: fixed;
    top: 0;
    background-color: #ADA497;
    box-shadow: 0px 5px 5px 1px rgba(133, 123, 109, 50%);
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}


/* Footer */
footer {
    text-align: left;
    background-color: #ADA497;
    width:100%;
    bottom:0;
    display:flex;
    justify-content: space-between;
}

footer #links {
    text-align: right;
}

footer p{
    display:inline-block;
}

footer a{
    color:white
}

footer a:hover{
    background-color:white;
    padding: 10px;;
    color:black;
}

/* css for Content divs */

.content{
    box-shadow: 10px 10px 8px #857b6d;
}

#topSec img{
    margin-top:15px;
}

p#welcome {
    height:350px;
    font-size:25px;
    padding-left:150px;
    padding-right:50px;
}

.content:nth-child(odd)  {
    background-color: #ADA497;
}


/* change style of lines across webpages (HR elements) */
hr {
    border: 2px solid #978E7F;
}


/* --------------- FOCUSED ON IDEX/HOMEPAGE --------------------- */

#firstSec {
    display:flex;
}


/* --- explore section --- */


div#explore {
    color:white;
    padding: 25px 0 200px;
    clear:both;
    font-size:25px;
}

div#sections {
    display:flex;
    justify-content: space-evenly;
}

#explore hr {
    border: 2px solid #F0E9DF;
    width: 25%
}

#explore a{
    text-decoration: none;
    text-align:center;
    line-height: 100px;
    color:black;
    background-color: #F0E9DF;
    padding: 50px 150px 50px;
}

#explore a:hover{
    background-color: #ADA497;
    color:#F0E9DF;
}

#bioSec, #pollSec {
    padding: 10px 25px;
    
}



/* --- albums section --- */

#albumsEras a{
    text-decoration: none;
    color:white;
    background-color: #ADA497;
    padding:10px 250px 10px;
}

div#topRow, div#midRow, div#botRow{
    margin: 0 auto;
    width:fit-content;
}

figure {
    float:left;
    align-items: center;
}

figcaption{
    width:210px;
    height:75px;
    line-height: 75px;
    margin:0 auto;
}

figcaption#ttpd{
    line-height: 50px;
}

figcaption#department {
    line-height:0px;
}

figure img {
    box-shadow: -10px -10px 8px #857b6d
}

.space {
    padding-top:1px;
    clear:both;
}

/* --------------- FOCUSED ON ALBUMS/ERAS PAGE ------------------ */

/* change style of hr in albumSec */

#erasTour p{
    text-align: justify;
    padding: 10px;
    margin-left: 30px;
    margin: 10px auto;
}

#albumSec hr {
    border: 2px solid #F0E9DF;
}



.buttons {
    box-shadow: 10px 10px 8px #88898a;
    padding: 10px;
}

/* album colors */

#debut {
    background-color: #BED5B9;
}

#fearless {
    background-color: #F2CB8F;
}

#speakNow {
    background-color: #CCB1D0;
}

#red {
    background-color: #873B48;
}

#ts1989 {
    background-color: #C1E8F9;
}

#reputation {
    background-color: #807A7C;
}

#lover {
    background-color: #FABDD6;
}

#folklore {
    background-color: #CFCCC5;
}

#evermore {
    background-color: #CCB49A;
}

#midnights {
    background-color: #46517A;
}

#ttpd {
    background-color: #948F8A;
}

