/*sets height, color, and font family for EVERY html file in website*/
html{
    height:100%;
    background-color: white;
    font-family: Trebuchet MS, sans-serif;
}

/*centers the body of every page and sets height to 100% to match HTML*/
body{
    margin:0 auto;
    height:100%;
}

p{font-size: 18px;}
h3 {font-size: 20px;}

/*names grid-area off ALL <main> to "main" */
main {grid-area:main;}

/*Navigation */
nav, footer{
    display:flex;
    width:100%;
    background-color: #9fb9ea;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 25%);
}

/* sets the grid-area name of <nav> to "nav"*/
nav{
    grid-area:nav;
    position: fixed;
    justify-content: space-between;
    top:0;
    z-index:5;
    border-bottom:2px solid #36548c;}

nav a{
    flex-grow:2;
    color:white;
    text-decoration: none;
}

nav div.logo{
    padding:20px 50px;
    font-size: 30px;
    font-weight: 600;
    flex-shrink:2;
}

.mainList{
    width:50%;
    display:flex;
    justify-content: space-between;
    overflow:hidden;

    flex-shrink:2;
}

/* changes the background-color of the links to be darker than the rest of the <nav>*/
.mainLink{
    background-color: #36548c;
    width:33%;
    display:block;
}

.mainLink>a{
    display:inline-block;
    height:100%;
    width:100%;
}
a.mainLink, .mainLink>a{
    display:inline-block;
    line-height:55px;
    position:relative;
    padding:5px;
    padding-left:25px;
    font-size:larger;
    font-weight: 500;
}
a.mainLink:hover, .mainLink>a:hover{
    background-color: #5d80c2;
    color:black;
    box-shadow: 1px 0px 20px rgba(0, 0, 0, 35%);
}
a.mainLink:active, .mainLink>a:active{
    background-color: #9fb9ea;
    border:3px #2f497a solid;
}

/*contains the drop down links feature when user hovers over "academic gallery"
initial display set is "none" so that the list is hidden when not hovered over*/
.dropDown{
    display: none;
    position: absolute;
    top:70px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 5px rgba(0,0,0,0.2);
    z-index: 1;
}
/*makes the dropDown list visible when hovered over*/
div#dropLink:hover .dropDown{
    display:block;
}
div#dropLink:hover >a{
    background-color: #5d80c2;
}
div#dropLink:active >a{
    background-color: #9fb9ea;
}
.dropdown-content{
    font-size: 15px;
    color:black;
    float:none;
    display: block;
    padding: 15px 5px;
    text-align: left;
    font-weight: bolder;
    border:1px solid black;
    text-shadow: 1px 1px white;
}
.dropdown-content:hover{
    background-color:#adb9c9;
}
.dropdown-content:active{
    background-color: white;
}

/* CSS For footer */
footer{
    grid-area:foot;
    justify-content: space-between;
    font-size: 20px;
    border-top:2px solid #36548c;
}

footer a{
    color:black;
}

footer a:hover{
    background-color: white;
}

footer div#backToTop{
    padding-top:35px;
    padding-left:5%;
    padding-right:5%;
}

#backToTop a{
    padding: 10px;
}

footer div#links{
    display:flex;
    flex-direction: column;
    padding:20px;
    padding-top:25px;
    padding-right:5%;
    padding-left:3%;
}

#links, #backToTop{
    background-color: #7ea0e0;
}

div#links h4{
    margin:5px 0;
}

div#links a{
    padding:10px 0;
}

/*CSS changes for home/index page*/
.home{
    display:grid;
    grid-template-rows:100px auto auto 200px;
    grid-template-areas: 
        "nav"
        "main"
        "purpose"
        "foot"
        ;
}
.home section#purpose {
    grid-area:purpose;
}

div.line{
    grid-area:divider;
    background-color: #9fb9ea;
}

.home div.line{
    width:3px;
}

main#summary #photo{
    text-align: center;
    padding:20px;
}

#photo hr{
    border:1px solid #9fb9ea;
}

#contact{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

#contact p{
    font-size:16px;
    text-align: left;
}

#linkedIn{
    color:#5d80c2;
}

#linkedIn:hover{
    background-color:#5d80c2;
    color:white;
}

#photo{
    display:flex;
    flex-direction: column;
    grid-area:photo;
}
#photo img{
    border-radius: 100%;
    margin:0 auto;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 25%);
}

#sumParagraph{
    display:flex;
    flex-direction: column;
    margin:20px;
    grid-area:summary;
}
#sumParagraph p, #sumParagraph header, #caption{
    display:inline;
}

section#purpose{
    width:100%;
    padding:50px 0;
    margin:5% 0;
    margin-bottom:120px;
    color:white;
    text-align: center;
    font-size:25px;
    background: #36548c;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 35%);
}

section#purpose h2{
    margin-top:0;
    margin-bottom:0;
}

/*Career Profile*/

body.careerProfile {
    display:grid;
    grid-template-rows: 80px 100px 1400px auto auto;
    grid-template-areas:
        "nav"
        "careerHead"
        "main"
        "resume"
        "foot";
}

.careerProfile header{
    font-weight:900px;
    font-size:27px;
    text-align: center;
    grid-area:careerHead;
}

section#resume{
    grid-area:resume;
}

.careerProfile main {
    width:65%;
    margin:20px auto;
    margin-bottom:50px;
    padding:30px;
    border-radius: 25px;
    border:5px solid #9fb9ea;
    background-color: white;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 15%);
    display:flex;
    flex-direction: column;
}

.careerProfile main p{
    line-height:35px;
}

.careerProfile main div h2{
    margin:50px;
    margin-left:12%;
    margin-bottom:25px;
}

.careerProfile main, section#resume{
    border-radius: 25px;
    border:5px solid #36548c;
}

div#experience section{
    display:flex;
    flex-direction: column;
    margin-bottom:40px;
    gap:50px;
}

div#PCs, section#resume, div#webExp{
    width:75%;

    background-color: white;
    margin:0 auto;
    padding:30px;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 15%);
}

div#goals p{
    width:75%;
    border-radius: 25px;
    border:5px solid #9fb9ea;
    margin:0 auto;
    padding:30px;
    padding-bottom:50px;
    box-shadow: 0px 0px 25px 6px rgba(0, 0, 0, 15%);
}

div#PCs{
    height:50%;
}

#PCs, #webExp{
    padding:10px 50px 50px;
    border-radius: 25px;
    border:5px solid #9fb9ea;
}

#webExp a{
    color: #2f497a;
}
#webExp a:hover{
    background-color: #9fb9ea;
    color:#2f497a;
}

#PCs h3{
    width:50%;
}

section#resume{
    width:65%;
    height:85%;
    text-align: center;
    margin-top:25px;
    display:grid;
    grid-template-rows: auto auto 800px;
    grid-template-areas: 
        "head"
        "link"
        "frame";
}

section#resume h2{
    grid-area:head;
    font-size:27px;
    font-weight:500px;
}
section#resume a{
    margin:0 auto;
    margin-bottom:20px;
    max-width:200px;
    grid-area:link;
    padding:10px;
    color:#2f497a;
}
section#resume a:hover{
    cursor:pointer;
    background-color: #2f497a;
    color:white;
}

#myResumeFrame{
    width:500px;
    height:85%;
    margin:0 auto;
    grid-area:frame;
}

/*---------------Academic Gallery--------------------*/

body.gallery{
    display:grid;
    grid-template-rows:80px auto auto;
    gap:20px;
    grid-template-areas:
        "nav"
        "main"
        "foot";
}

body.gallery main {
    display:grid;
    gap:20px;
    grid-template-rows: 100px auto;
}

.gallery header{
    font-weight: 800;
    font-size:45px;
}
.gallery header, div#galleryLinks{
    text-align: center;
}

.gallery header hr{
    border:1px #36548c solid;
    width:60%;
}

#galleryLinks {
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    gap:100px;
    height:50%;
    width:100%;
    margin-bottom:50px;
}

#galleryLinks a{
    color:black;
    width:25%;
    font-size:25px;
    font-weight:900;
    line-height:20px;

    background-color:#9fb9ea;
    padding:50px;
    border:3px solid #36548c;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 25%);

    transform:scale(1,1);
    transition: 0.3s;
}

#galleryLinks a img{
    margin-top:50px;
    box-shadow: 0px 0px 10px 6px rgba(0, 0, 0, 25%);
    transform:scale(1.20,1.20);
    height:200px; 
    width:300px;
}

#galleryLinks a:hover{
    transform:scale(1.07,1.07);
    transition:0.3s;

    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 50%);
}

#galleryLinks a:active{
    transform:scale(0.9,0.9);
    transition:0.3s;

    filter:brightness(75%);
}


div#topRow, div#bottomRow{
    display:flex;
    gap:100px;
    justify-content: center;
}

/*Website Development*/

body.webDev, body.dataSys, body.softDes, body.busiCom{
    display:grid;
    grid-template-rows: 80px auto auto;
    grid-template-areas: 
        "nav"
        "main"
        "foot";
}

.webDev header, .softDes header, .busiCom header, .dataSys header{
    text-align: center;
    font-size:27px;
}

.webDev main, .softDes main, .busiCom main, .dataSys main{
    margin-bottom: 50px;
}

section.project{
    border:#9fb9ea 5px solid;
    padding:50px;
    padding-top:0;
    margin:0 auto;
    width:75%;
    display:flex;
    flex-direction: column;
    box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 25%);
}

div#projectList{
    display:flex;
    flex-direction: column;
    gap:100px;
}

section.project h2{
    background-color: #9fb9ea;
    padding:10px;
}

div.projectContent{
    display:flex;
}
div.projectContent aside{
    display:flex; 
    gap:20px;
    flex-direction: column;
}

.project p{
    line-height: 30px;
    margin:30px 15px;
}

.projectContent a{
    color:#36548c;
}
.projectContent a:hover{
    background-color:#adb9c9;
}
.projectContent a:active{
    color:#2f497a;
}

.projectContent aside a{
    padding:5px;
    padding-left:0;
    max-width:200px;
}

section#siteOne aside{
    display:flex;
    flex-direction: column;
    gap:10px;
}

section#siteOne aside hr{
    width:100%;
    border:2px dashed #9fb9ea;
}

section.project iframe{
    box-shadow: 0px 0px 15px 3px rgba(0, 0, 0, 25%);
}

iframe#wireFrame{
    width:600px;
    height:250px;
}

iframe#figmaUI{
    height:500px;
}

a#fanSite{
    font-size:18px;
    font-weight:800;
    margin:0 auto;
    text-align: center;
    padding:10px;
    color:black;
}

a#fanSite:hover{
    background-color: #9fb9ea;
}

.webDev div.line{
    width:25px;}
.webDev section#siteTwo div.line{
    width:5px;}
.softDes div.line, .dataSys div.line{
    width:5px;} 
.busiCom div.line{
    width:15px;}


.projectContent div.line{
    margin:20px;
}

#siteTwo aside a{
    text-align: center;
    padding:20px;
    width:500px;
    margin:auto;
}

#siteTwo p a{
    color:#36548c;
}

/* Software Design*/
.softDes iframe{
    width:400px;
    height:520px;
}

.softDes iframe#appLFP{
    width:500px;
}

/* Database Systems */


/* Business Communications */
.busiCom .project{
    width:65%;
}

.busiCom iframe, .dataSys iframe{
    width:400px;
    height:520px;
}


/* Media Queries (KEEP AT BOTTOM!)*/
@media (max-width: 800px) {
    /*nav on mobile*/
    nav{
        font-size:small;
        overflow:hidden;
    }
    #links, #backToTop{
        background-color: #9fb9ea;
    }
    nav div.logo{
        width:25%;
        padding:10px;
        font-size:24px;
    }
    div.mainList{
        width:80%;
    }
    div.mainList a{
        width:25%;
        line-height:25px;
        padding-left:10px;
    }
    div#dropLink.mainLink>a{
        width:100%;
    }
    div#dropLink:hover .dropDown{
        display:none;
    }
    /*aboutMe*/
    main#summary{
        grid-template-rows:auto auto;
        grid-template-areas: 
        "photo"
        "summary";
    }

    main#summary div.line{
        display:none;
    }
    #photo img{
        transform:scale(0.8,0.8);
    }

    /*careerProfile*/
    .careerProfile main{
        width:75%;
        height:100%;
    }
    body.careerProfile {
        display:grid;
        grid-template-rows: 80px 100px auto 400px auto;
    }
    .careerProfile div#experience h2{
        text-decoration: underline;
        text-align: center;
    }
    .careerProfile div#experience h2, .careerProfile div#goals h2, section#resume h2{
        text-decoration: underline;
        text-align: center;
        width:100%;
        background-color: #9fb9ea;
        margin:20px;
        margin-left:0px;
    }
    div#PCs, div#webExp, div#goals p{
        border:none;
        box-shadow: none;
        padding:2px;
        margin:2px;
        width:100%;
    }
    div#PCs p, div#webExp p{
        width:100%;
    }
    div#PCs h3{
        width:100%;
    }
    section#resume{
        margin-top:100px;
        height:50%;
    }
    /*Academic Gallery*/
    .gallery{
        div#topRow, div#bottomRow{
            flex-direction: column;
            margin:0 auto;
        }
    #galleryLinks a{
        font-size:18px;
        margin:0 auto;
        width:30%;
    }
    #galleryLinks img{
        margin:20px auto;
        height: 50%;
        width: 100%;
    }
    }
    /*Academic Gallery CONTENT*/
    section.project{
        padding:0;
        box-shadow: none;
        border:none;

    }
    section#siteOne.project, section#siteTwo.project, section#softProjOne.project, 
    section#softProjTwo.project, section#dataProjOne.project, section#buisComProj.project{
        width:100%;
        padding:0;
    }
    .projectContent {
      flex-direction: column;
    }
    .projectContent p{
        padding:0px;
    }
    .projectContent aside a{
        padding-left:20px;
    }
    /*removes Iframes*/
    iframe{
        display:none;
    }
    .projectContent div.line{
        display:none;
    }
    /*web dev*/
    section#siteOne aside hr{
        width:90%;
    }
  }

@media screen and (min-width: 480px){
    main#summary {
        width:75%;
        margin:0 auto;
        padding:20px 0;
        background-color: white;
        border:solid #9fb9ea 10px;
        display:grid;
        grid-template-columns: 50% auto auto;
        grid-template-areas: 
        "photo divider summary";
        box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 25%);
    }
}

